# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


# maven ignore
target/
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# idea ignore
/out
out/
.idea/
*.ipr
*.iml
*.iws
*.class